/* Start Golbal Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  margin: 0;
}

:root {
  --myContainer: 80%;
  /* var(); */
}
/* End Golbal Rules */
/* -------------------------------- */

/* For disktop use  */
@media (min-width: 769px) /* big Screen Rules*/ {
}
/* For github use  */
@media only screen and (min-width: 769px) /* big Screen Rules*/ {
}
/* --------------------------------------big screen up ^^^^--------------------------------------- */
@media (0px <= width <= 768px) {
  /* Mobile and medium Screen Rules*/
}
/* For github use  */
@media only screen and(0px <= width <= 768px) {
  /* Mobile and medium Screen Rules*/
}

/* Start Header section */
nav {
  background-color: #283593;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav img {
  width: 5em;
  height: auto;
  margin-left: 1em;
}

.navlink {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 5em;
}
.navlink a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
  margin-left: 2em;
}
.navlink a:hover {
  color: #c5cae9;
  transform: rotate(6deg);
}

/* Start Footer section */
footer {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  text-align: center;
  background-color: #28349346;
  align-items: center;
}
footer i {
  margin-top: 15px;
  font-size: 40px;
}
.goingup {
  position: relative;
  right: 0;
}
.footerItem a {
  margin-left: 15px;
}

.p {
  margin: 0;
  padding: 8px;
} /* to add new line only in phone size */
.newline {
  display: none;
}
/* End Footer section */
/* Body Section css Start  */
.dean {
  margin: 0 auto;
  text-align: center;
}
.deanP {
  width: 78%;
  margin: 3% 10%;
  text-align: justify;
}
.History {
  text-align: center;
}
#history,
#titleM {
  font-weight: bold;
  font-size: 40px;
}
.History img {
  width: 60%;
  height: auto;
}
.historyP {
  width: 78%;
  margin: 3% 10%;
  text-align: justify;
}
